#background-logo {
  height:100vh;
  background-image:url("https://media.giphy.com/media/26xBMVOzata2DnN7i/giphy.gif");
  /*background-image: url("https://media.giphy.com/media/xT1XGVp95GDPgFYmUE/source.gif");*/
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center bottom;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.reset-details{
  border-radius: 0!important;
}

.reset-label{
  /*color: rgba(138, 146, 255, 0.92);*/
  color: white;
}

#reset-password-form{
  margin-top: 30vh;
}

#submit-btn {
  width:100%;
  background-color:rgb(46,46,46);
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 0!important;
}
