<body id="background-logo">
<!--<nav class="navbar navbar-dark navbar-expand-md fixed-top">-->
<!--<div class="container">-->
<!--<ul class="nav navbar-nav d-flex flex-grow-1 justify-content-between align-items-center">-->
<!--<li class="nav-item" role="presentation"><a class="nav-link"><img id="logo" src="https://36711.apps.zdusercontent.com/36711/assets/1506469900-fd7a54462c6615af92812b8a1a25884b/logo.png" height="32vh"></a></li>-->
<!--<li class="nav-item" role="presentation"><a id = "join" class="nav-link" routerLink="/register">Join</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<div id = "navbar" class="mt-3">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 d-flex flex-grow-1 flex-fill justify-content-between align-items-center nav-content">
      <img src="https://36711.apps.zdusercontent.com/36711/assets/1506469900-fd7a54462c6615af92812b8a1a25884b/logo.png" height="32vh" id="logo" routerLink="/home">
      <span id = "join" routerLink="/register">Join</span>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<!--<div class="row mt-3" *ngIf="isLoginSuccessful">-->
  <!--<div class="col-3"></div>-->
  <!--<div class="col-6">-->
    <!--<div class="alert alert-success" role="alert" >-->
      <!--Login successful-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-3"></div>-->
<!--</div>-->

<div class="row mt-3" *ngIf="passwordReset">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="alert alert-danger" role="alert" >
     Password reset. Email sent.
    </div>
  </div>
  <div class="col-3"></div>
</div>

<section id="reset-password-form" *ngIf="!passwordReset">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-md-8 col-sm-12">
          <form #f="ngForm" (ngSubmit)="onSub(f)">
            <label class="reset-label">Please confirm email</label>
            <div class="form-group"><input class="form-control reset-details" type="text" name="email" ngModel placeholder="Email Address"></div>
            <div class="form-group"><button class="btn" type="submit" id="submit-btn" >Submit</button></div>
          </form>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</section>
</body>


