<body>
<app-nav-bar></app-nav-bar>
<div>
  <div class="row mt-3" *ngIf="displayGif">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-sm-1 col-md-3 source-div mb-4">
          <h5>SOURCE</h5>
          <a class="source-url" href="{{gif.source}}">{{gif.source.substring(8)}}</a>
        </div>
        <div class="col-sm-10 col-md-6 mb-2">
          <div *ngIf="!isCopyLinkClicked">
            <h5>{{gif.title.toUpperCase()}}</h5>
            <div class="card mt-2 border-0 gif-cards">
              <div class="card-body gif-cards-body">
                <img  class="card-img" src="{{gif.images.fixed_height.url}}" (click)="onGifClick(gif.id)">
              </div>
            </div>
            <div class="mt-2 border-0" *ngIf="cookieValue !== '' ">
              <form #f="ngForm" (ngSubmit) = "onCommentSubmit(f)">
                <div class="form-group" >
                  <textarea placeholder="Enter comment." rows="3" name="comment" ngModel></textarea>
                  <!--<input class="form-control" placeholder="Comment.">-->
                </div>
                <div class="form-group">
                  <button class="btn" id="comment-btn" type="submit">
                    Submit
                  </button>
                </div>
                <!--<img  class="card-img" src="{{gif.images.fixed_height.url}}" (click)="onGifClick(gif.id)">-->
              </form>
            </div>
            <hr>
            <h2 class="comment">Comments</h2>
            <hr>
            <div class="mt-2 border-0">
              <div *ngFor="let comment of comments">
                <h5>{{comment.username}}</h5>
                <h6 class="comment">{{comment.text}}</h6>
                <div *ngIf="comment.createdByuser === userId">
                  <span><i class="fas fa-edit editBtn"></i></span>
                  <span><i class="fas fa-trash-alt delBtn ml-2" (click)="onDelComment(comment.id)"></i></span>
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div *ngIf="isCopyLinkClicked">
            <form id="link-form">
              <div class="d-flex flex-grow-1 flex-fill justify-content-between align-items-center mb-4">
                <span class="form-header">Media</span>
                <span (click)="onCloseClick()"><i class="fa fa-times close-icon"></i></span>
              </div>
              <div class="form-group row">
                <label for="source" class="col-sm-2 col-form-label">Source</label>
                <div class="col-sm-10">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="source" value="{{gif.images.fixed_height.url}}">
                    <!--<div class="input-group-append">-->
                      <!--<button class="btn basic-addon2" type="button" >Copy</button>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="social" class="col-sm-2 col-form-label">Social</label>
                <div class="col-sm-10">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="social">
                    <!--<div class="input-group-append">-->
                      <!--<button class="btn basic-addon2" type="button">Copy</button>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="MP4" class="col-sm-2 col-form-label">MP4</label>
                <div class="col-sm-10">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="MP4" value="{{gif.images.fixed_height.mp4}}">
                    <!--<div class="input-group-append">-->
                      <!--<button class="btn basic-addon2" type="button">Copy</button>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="small" class="col-sm-2 col-form-label">Small</label>
                <div class="col-sm-10">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="small" value="{{gif.images.downsized.url}}">
                    <!--<div class="input-group-append">-->
                      <!--<button class="btn basic-addon2" type="button">Copy</button>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-1 col-md-3">
          <br>
          <h5 class="share-items" (click)="onCopyLinkClick()" *ngIf="!isCopyLinkClicked"><i class="fa fa-link mr-2"></i> Copy Link</h5>
          <h5 class="share-items" (click)="onLikeGifClick()" *ngIf="!isCopyLinkClicked && cookieValue !== '' && !isAlreadyLiked"><i class="fa fa-heart mr-2"></i> Like Gif</h5>
          <h5 class="share-items" (click)="onUnLikeGifClick()" *ngIf="!isCopyLinkClicked && cookieValue !== '' && isAlreadyLiked"><i class="far fa-heart"></i> Unlike Gif</h5>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
</div>
</div>
</body>
