<body>
<app-nav-bar></app-nav-bar>
<div>
  <div class="row mt-3 mb-3">
    <div class="col-2"></div>
    <div class="col-8">
      <div>
        <div class="header-title-banner">
          <h2 class="header-title">GIFArt Team</h2>
        </div>
        <div class="row mt-2">
          <div class="col-sm-1 col-md-2 col-lg-3">
            <div class="card mt-2 border-0 gif-cards">
              <div class="card-body gif-cards-body" id="kashif">
                <!--<img class="card-img" src="https://media.giphy.com/staff/chris-cubellis-XeoRu9fPQiaC.gif">-->
                <div class="img-description">
                  <div class="name-yellow">Kashif</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-md-2 col-lg-3">
            <div class="card mt-2 border-0 gif-cards">
              <div class="card-body gif-cards-body" id="meesam">
                <!--<img class="card-img" src="https://media.giphy.com/staff/arun-shyam-FOKFgu7bF9Qd.gif">-->
                <div class="img-description">
                  <div class="name-yellow">Meesam</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-md-2 col-lg-3">
            <div class="card mt-2 border-0 gif-cards">
              <div class="card-body gif-cards-body" id="saikat">
                <!--<img class="card-img" src="https://media.giphy.com/staff/andy-sebela-RArKEbfuw0SO.gif">-->
                <div class="img-description">
                  <div class="name-yellow">Saikat</div>
                </div>
              </div>
            </div>
          </div>
          <div class= "col-sm-1 col-md-2 col-lg-3">
            <div class="card mt-2 border-0 gif-cards">
              <div class="card-body gif-cards-body" id="kanika">
                <!--<img class="card-img" src="https://media.giphy.com/staff/andy-sebela-RArKEbfuw0SO.gif">-->
                <div class="img-description">
                  <div class="name-yellow">Kanika</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
</body>
