<body>
<app-nav-bar></app-nav-bar>
<div>
  <div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10">
      <div>
        <h1 id="searched-gif-header">{{searchedTerm}}</h1>
        <div class="row" *ngIf="gifsFound">
          <div class="col-sm-1 col-md-3" *ngFor="let gif of gifs">
            <div class="card mt-2 border-0 gif-cards">
              <div class="card-body gif-cards-body">
                <img class="card-img" src="{{gif.images.downsized.url}}" (click)="onGifClick(gif.id)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="!gifsFound">
          <img class="not-found-img" src="https://media.giphy.com/media/VwoJkTfZAUBSU/giphy.gif">
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
</body>
