<div id = "navbar">
  <div class="row">
    <!--<div class="col-1"><img src="https://36711.apps.zdusercontent.com/36711/assets/1506469900-fd7a54462c6615af92812b8a1a25884b/logo.png" height="32vh" id="logo" routerLink="/home"></div>-->
    <!--<div class="col-8">-->
      <!--<form #f="ngForm" class="d-flex"  (ngSubmit)="onSearch(f)"><input id= "search-bar" class="form-control" type="text" placeholder="Search GIFS" name="searchTerm" ngModel><button class="btn btn-primary" type="submit" id="search-btn"><i class="fa fa-search"></i></button></form>-->
    <!--</div>-->
    <!--<div class="col-1 mt-1"><i class="fa fa-user-o" id="profile-logo"></i></div>-->
    <div class="col-2"></div>
    <div class="col-8 d-flex flex-grow-1 flex-fill justify-content-between align-items-center nav-content">
      <img src="https://36711.apps.zdusercontent.com/36711/assets/1506469900-fd7a54462c6615af92812b8a1a25884b/logo.png" height="32vh" id="logo" routerLink="/home">
      <!--<ul class="list-inline d-flex flex-grow-1 flex-fill justify-content-around align-items-center nav-links">-->
        <!--<li class="list-inline-item"><a routerLink="/gif/search/reactions">Reactions</a><hr></li>-->
        <!--<li class="list-inline-item"><a routerLink="/gif/search/entertainment">Entertainment</a><hr></li>-->
        <!--<li class="list-inline-item"><a routerLink="/gif/search/sports">Sports</a><hr></li>-->
        <!--<li class="list-inline-item"><a routerLink="/gif/search/stickers">Stickers</a><hr></li>-->
        <!--<li class="list-inline-item"><a routerLink="/gif/search/artists">Artists</a><hr></li>-->
      <!--</ul>-->
      <div class="d-flex align-items-center" *ngIf="cookieValue == ''; else loggedIn">
        <button class="btn" id = "login-btn" routerLink="/login">Log In</button>
      </div>
      <ng-template #loggedIn>
        <!--<div class="d-flex align-items-center">-->
            <!--<span class="welcome-msg mr-3">Welcome {{cookieValue}}</span>-->
            <!--<i class="fa fa-upload mr-3" id="upload-logo"></i>-->
            <!--<i class="fa fa-user-o mr-3" id="profile-logo" routerLink="/profile"></i>-->
            <!--<i class="fa fa-sign-out" id="logout-logo" (click)="onLogout()"></i>-->
        <!--</div>-->
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{cookieValue}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="btn dropdown-item" type="button" routerLink="/upload"><i class="fa fa-upload mr-2" id="upload-logo"></i> Upload</button>
            <button class="btn dropdown-item" type="button" routerLink="/profile"><i class="fa fa-user-o mr-2" id="profile-logo" ></i> Profile</button>
            <button class="btn dropdown-item" type="button" routerLink="/team"><i class="fa fa-users mr-2" id="team-logo" ></i> Team</button>
            <button class="btn dropdown-item" type="button" (click)="onLogout()"><i class="fa fa-sign-out mr-2" id="logout-logo" ></i> Logout</button>
          </div>
        </div>
      </ng-template>

    </div>
    <div class="col-2"></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"></div>
    <div class="col-8 nav-content">
      <form #f="ngForm" class="d-flex"  (ngSubmit)="onSearch(f)">
        <input id= "search-bar" class="form-control" type="text" placeholder="Search GIFS" name="searchTerm" ngModel>
        <button class="btn" type="submit" id="search-btn"><i class="fa fa-search search-logo"></i></button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>

