body{
  height:100vh;
  background-color:black;
  overflow-x: hidden;
}

#link-form{
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(38,38,38);
  padding: 3%;
}

#link-form label {
  font-size: small;
}

#role-type{
  font-family: 'Poppins', sans-serif;
}

.form-header{
  font-weight: bolder;
  font-size: 2.5rem;
}

.basic-addon2{
  background-color: rgb(129,0,255)!important;
  color: white;
}

#save-btn{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  /*background-color: rgb(50,50,50);*/
}

.back-icon{
  color: white;
  font-size: 2.3rem;
}
