<body>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
        <ul class="list-group">

          <li class="list-group-item list-group-item-primary list" *ngFor="let u of searchedUsers">
            <div class="float-left">
              <i class="fas fa-user"></i>     {{u.firstName}} {{u.lastName}}
              <a [ngStyle]="{'cursor':'pointer'}" (click)="goToUser(u._id)" > @{{u.username}}</a>
            </div>
            <div class="float-right" *ngIf="isLoggedIn">
              <div *ngIf="!currentUser.followers.includes(u._id)">
                <i class="fas fa-user-plus" (click)="follow(u._id)"></i>
              </div>
              <div *ngIf="currentUser.followers.includes(u._id)">
                <i class="fas fa-user-minus" (click)="unfollow(u._id)"></i>
              </div>

            </div>
          </li>

        </ul>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
</body>
