<body>
<app-nav-bar></app-nav-bar>
<div>
  <div class="row mt-3 mb-5">
    <div class="col-2"></div>
    <div class="col-2">
      <img id = "profile-pic" src="https://media.giphy.com/avatars/default5.gif">
      <button class="btn btn-block change-pic">Change</button>
    </div>
    <div class="col-6" *ngIf="isLoaded">
      <div>
        <div>
          <form #f="ngForm" id="link-form">
            <div class="d-flex flex-grow-1 flex-fill justify-content-between align-items-center mb-4">
              <span class="form-header">Profile</span>
            </div>
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="username" name="username" value="{{username}}" readonly>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="email-address" class="col-sm-2 col-form-label">Email Address</label>
              <div class="col-sm-10">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="email-address" name="email" value="{{email}}" [(ngModel)]="email">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="first-name" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-10">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="first-name" name = "firstName" value="{{firstName}}" [(ngModel)]="firstName">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="last-name" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-10">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="last-name" ngModel name="lastName" value="{{lastName}}" [(ngModel)] = "lastName">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                  <button class="btn btn-block btn-success" id="save-btn" (click)="onUpdateProfile(f)">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
</body>
